/* ----------------------------------
 * http://skybolt.xssl.net/~hexagon2/responsive-video/
 * ---------------------------------- */
.video-wrapper {
	position: relative;
	padding-bottom: 41%; /* video dimensions – height/width */
	padding-top: 0px;
	height: 0;
	z-index: 1000;
	max-width: 640px;
	
	.video-js {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
		z-index: 1;
		background: #000000;
		max-height: 340px;
	}

	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100% !important;
		z-index: 1;
	}

	.vjs-control-bar {
		z-index: 1002;
	}

	.vjs-big-play-button {
		z-index: 1002;
	}

	.vjs-spinner {
		display: none !important;
	}

	.vjs-poster {
		z-index: 1;
	}
}