<div class="video-wrapper"></div>

<script>
	var container = $('div.video-wrapper'),
			attributes = {
				'id': 'video_1',
				'class': 'video-js vjs-default-skin',
				'controls': true,
				'poster': 'http://video-js.zencoder.com/oceans-clip.jpg',
				'preload': false
			},
			videoElement = $('<video/>').attr(attributes),
			videoPlayer;
			
	var prepareVideo = function () {
		if(videoPlayer) {
			videoPlayer.dispose();
			
			container.append(videoElement);

			createVideoObject();
		} else {
			container.append(videoElement);
			
			createVideoObject();
		}
	};
	
	var createVideoObject = function () {
		_V_('video_1', {}, function () {
			var myVideo = videojs('video_1');
			
			myVideo.src([
			  { type: "video/mp4", src: "http://video-js.zencoder.com/oceans-clip.mp4" },
			  { type: "video/webm", src: "http://video-js.zencoder.com/oceans-clip.webm" },
			  { type: "video/ogg", src: "http://video-js.zencoder.com/oceans-clip.ogv" }
			]);
			
			myVideo.pause();

			videoPlayer = myVideo;
		});
	};
			
prepareVideo();	
</script>